
  <div class="container py-5 mt-5">
    <div>
      <div class="text-center text-white">
        <div class="col-lg-7 mx-auto animated bounceInDown ">
          <h1 class="display-4 ">Welcome</h1>
          <p class="lead mb-0"> </p>
        </div>

        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text line-1 anim-typewriter">for proceeding with our features please do signin or signup</p>
          <div>
            <button type="button" class="btn btn-outline-light mr-3" routerLink='/signin' data-toggle="modal"
              data-target="#signin">Signin</button>
            <button type="button" class="btn btn-outline-light mr-3" routerLink='/signup' data-toggle="modal"
              data-target="#signup">Signup</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row text-center text-white mb-5 mt-5">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-4 line-2 animated fadeInUpBig ">How it works?</h1>
        <p class="lead mb-0"> </p>
      </div>
    </div><!-- End -->
    <div class="row animated ">
      <div class="col-lg-7 mx-auto hover-zoomin">

        <!-- Timeline -->
        <ul class="timeline animated bounceInUp delay-2s">
          <li class="timeline-item bg-white rounded ml-3 p-4 shadow ">
            <div class="timeline-arrow"></div>
            <h2 class="h5 mb-0  ">Step 1: signup/signin</h2><span class="text-gray"><i class="fas fa-chart-line"></i></span>
            <p class="text-small mt-2 font-weight-light">Create an account and use it to maintain your daily expense
            </p>
          </li>
          <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
            <div class="timeline-arrow"></div>
            <h2 class="h5 mb-0">Step 2: Add Your Transaction/Expenses</h2><span class=""><i class="fas fa-chart-line"></i></span>
            <p class="text-small mt-2 font-weight-light">here you can mention fields like
              how much amount you have paid, for what, to whom & how much,
              isn't it cool !!, ok wait for next step
            </p>

          </li>
          <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
            <div class="timeline-arrow"></div>
            <h2 class="h5 mb-0">Step 3: GO TO MY PAYMENTS </h2><span class=" text-grey"><i class="fas fa-chart-line"></i></span>
            <p class="text-small mt-2 font-weight-light">Here you can see your expenses </p>
          </li>
          <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
            <div class="timeline-arrow"></div>
            <h2 class="h5 mb-0">Step 4: MY DEBTS</h2><span class="text-grey"><i class="fas fa-chart-line"></i></span>
            <p class="text-small mt-2 font-weight-light">Here you can view your debts </p>
          </li>
        </ul>
      </div>
    </div>

    <!-- End of timeline -->
    <!--cards-->

  </div>


<section class="page-section about">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 about-item">
                    <div class="service-item">
                        <div class="icon">
                            <img class="rounded-circle icon-shadow" src="\assets\oneclick.png" alt="group" height="130" width="130">
                        </div>
                        <h4 class="text-white">One-Click Setup</h4>
                        <div class="line-dec"></div>
                        <p class="text-white">you just need to mention required things and we will manage other things for you </p>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 about-item">
                    <div class="service-item">
                        <div class="icon btn">
                            <img class="rounded-circle icon-shadow" src="\assets\zero.png" alt="" height="130" width="130">
                        </div>
                        <h4 class="text-white">zero effort</h4>
                        <div class="line-dec"></div>
                        <p  class="text-white">Here effortlessly you can do many things</p>
                       
                    </div>
                </div>
                <div class="icon1 col-md-3 col-sm-6 col-xs-12 about-item">
                    <div class="service-item">
                        <div class="icon btn">
                            <img class="rounded-circle icon-shadow" src="\assets\support.png" alt="" height="130" width="130">
                        </div>
                        <h4 class="text-white">24/7 Quick Support</h4>
                        <div class="line-dec"></div>
                        <p class="text-white">Feel free to talk to us on our Facebook page if you have any kind of question or suggestion.</p>
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 about-item">
                    <div class="service-item">
                        <div class="icon btn">
                            <img class="rounded-circle icon-shadow" src="\assets\nocost.png" alt="group" height="130" width="130">
                        </div>
                        <h4 class="text-white">Service @ no cost </h4>
                        <div class="line-dec"></div>
                        <p  class="text-white lead">We won't charge you anything for our Service</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>