<div class="container col-7 mt-5">
  <div class="card card-shadow">
    <div class="card-body">
      <label class="h6">Purpose
      </label>
      <div class="form-group">
        <input type="text" class="form-control "placeholder="please enter" id="break" aria-label="Text input with segmented dropdown button">
        
  <div class="form-group">
      <select class="custom-select" required>
        <option value="">Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="invalid-feedback">Example invalid custom select feedback</div>
    </div>
      </div>
    </div>
    <div class="card-body ">
      <label class="h6">Paid for</label>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="please enter">

      </div>
    </div>
    <div class="card-body">
      <label class="h6">Paid By</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="please enter">
      </div>
    </div>
    <div class="card-body">
      <label class="h6">Enter amount</label>
      <input type="text" placeholder="please enter amount" class="input-group-text" class="form-control"
        aria-label="Rupees amount (with dot and two decimal places)">


      <div class="input-group-append">


        <button type="button" class="btn btn-outline-info mt-3" routerLink='/split' data-toggle="modal"
          data-target="#split">Split</button></div>
    </div>
  </div>
</div>