<!-- <div class="container col-7 mt-5">
  <div class="card mt-3">
  <div class="form-group mt-3  mr-4 ml-4" *ngFor="let group of groups; let i = index">
    <input type="text" class="form-control " placeholder="please enter group name"
      aria-label="Text input with segmented dropdown button">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary mt-2">Create group</button>
    </div>
    <input type="text" class="form-control mt-2" placeholder="add users"
      aria-label="Text input with segmented dropdown button">
   
      <button type="button" class="btn btn-outline-secondary mt-2">Add Users</button>
      <div class="text-right">
          <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
        </div>
  
  </div>
</div>
</div> -->