<div class="container col-7 mt-5 ">
    <div class="card card-shadow ">
        <div class="card-body ">
            <div class=" d-flex justify-content-center">
                <img class="rounded-circle icon-shadow" src="\assets\transaction.png" alt="Avatar" height="130"
                    width="130">
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-info" routerLink='/transaction'>ADD TRANSACTION</button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-outline-info" routerLink='/activities' 
                    data-target="#activtiy">
                    ACTIVITIES
                </button>
            </div>
        </div>
    </div>
    <!--cards-->
    <div class="card-deck ">
        <div class="card mt-5 card-shadow ">
            <img src="\assets\money.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">WHAT IS SPLITPAY?</h5>
                <p class="card-text ">Split payment is the financial term for the act of splitting a single and full
                    amount of payment in two or more simultaneous transactions made by different people.</p>
                <ul>

                </ul>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-5 card-shadow">
            <img src="\assets\friendss.jpg" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">GROUP</h5>
                <p class="card-text">GIVE A NAME TO YOUR GROUP </p>
                <div>
                    <button type="button" class="btn btn-outline-info mt-3" routerLink='/registration' 
                        >CREATE GROUP</button></div>
                <div>
              <button type=" button" class="btn btn-outline-info mt-2" routerLink='/registration' data-toggle="modal"
                       data-target="#viewGroup">VIEW MY GROUPS</button></div>
            </div>
        </div>
    </div>
    <!--cards-->
</div>
